* {
    margin: 0;
    padding: 0;
    background-color: fff;
}
header {
    display: flex;
    justify-content: center;
    /* width: 100%; */
    height: 70px;
    align-items: center;
    padding: 10px;
    margin-bottom: 20px;
    background-color: darkslategrey;
}
nav{
    display: flex;
    justify-content: space-between;
    /* margin-right: 50px; */
    /* width: 800px; */
    color: grey;
    flex-direction: row;
    flex-basis: auto;
}
nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    padding: 10px;
    /* margin: 10px; */
}
nav ul li {
    display: flex;
    margin: 30px;
    margin-left: 50px;
    list-style: none;
    font-size: 20px;
}
nav img {
    width: 200px; 
    height: 70px;
    margin-top: 15px ;
    margin-left: -80px;

}
div{
    display: flex;
    justify-content: center;
    padding: 10px;
}

section {
    /* width: 60%; */
    display: flex;
    justify-content: center;
}
section img{
    padding: 15px;
}
article{
    display: flex; 
    justify-content: center;
}
article img {
    padding: 10px;
    /* margin-left: 10px; */

}
article section {
    padding-top: 10px;
    width: 100px;
    height: 400px;
    display: flex;
    flex-direction: column;
    flex-basis: 480px;
}
article section p {
    height: 380px ;
    width: 470px;
    overflow-y: scroll ;
    padding-bottom: 10px ;
    text-align: justify;
}
article section button{
    margin-top: 10px;
    padding: 10px;
    width: 250px;
    background-color: black;
    color: white;
}
article section button:hover{
    cursor: pointer;
    background-color: white;
    color: black;
    border: 2px solid black;
}
article p::-webkit-scrollbar {
    display: none;
}

footer{
    width: 100%;
    height: 100px;
    background-color: darkslategray;
    margin-top: 30px;
}